Apps_For_Stepik_Course/A_and_B_states_depending_on_R_T_S/main
Apps_For_Stepik_Course/A_and_B_states_depending_on_R_T_S/.vscode/settings.json
/Apps_For_Stepik_Course/A_and_B_states_depending_on_R_T_S/.vs
*.obj
*.exe